@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-my-image {
  background-image: url('/ma/public/fondo.png');
  background-size: cover; /* Ajusta la imagen para cubrir todo el espacio disponible */
  background-position: center; /* Centra la imagen */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
