@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-my-image {
  background-image: url('/ma/public/fondo.png');
  background-size: cover; /* Ajusta la imagen para cubrir todo el espacio disponible */
  background-position: center; /* Centra la imagen */
}

/* globals.css */
@layer components {
  .bg-background {
      @apply bg-no-repeat bg-center bg-cover;
      background-image: url('/fondo.png'); /* Asegúrate de que la ruta a tu imagen sea correcta */
    }
  }

  
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

